# Игнорировать файлы среды разработки
.idea/

# Игнорировать виртуальное окружение
venv/

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo

# Игнорировать настройки конфигурации Flask
instance/

# Игнорировать файлы базы данных
*.db

# Игнорировать файлы и каталоги настроек для инструментов (например, PyCharm)
*.idea/

# Игнорировать файлы журнала
*.log

# Игнорировать файлы кеша
*.swp
*.swo

# Игнорировать файлы, связанные с виртуальными окружениями
.env
.env.*

